/* src/styles/Resume.css */
body {
  font-family: serif;
  background-color: #f4f4f4;
  color: black !important;
  line-height: 1.2;
}

li {
  font-size: 0.75em;
}

p {
  font-size: 0.75em;
}
h1 {
  font-size: 0.95em !important;
  font-weight: 600 !important;
}
h2 {
  font-size: 0.9em !important;
}
h3 {
  font-size: 0.85em !important;
}
h4 {
  font-size: 0.8em !important;
}

.resume-container {
  background: white;
  padding: 20px 30px;
  max-width: 780px;
  box-shadow: none;
  border-radius: 0;
}

/* Header */
.resume-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
}

.header-main {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.resume-header h1 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.resume-header h2 {
  margin: 5px 0 0 0;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  gap: 16px;
  text-align: center;
  font-size: 0.8em;
  color: black;
}

.contact-info span {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 4px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 25px 0;
}

/* Sections */
.resume-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.resume-section h3 {
  color: #005a9c; /* A shade of blue */
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #005a9c;
  margin: 4px;
}

/* Entries (for Education, Experience, Projects) */
.entry {
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.entry h4 {
  margin: 0;
  color: black;
}

.entry h4 strong {
  font-weight: bold;
}

.entry .duration {
  color: black;
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap; /* Prevents wrapping */
  margin-left: 15px;
}

.entry p {
  margin: 4px 0;
}

.entry ul {
  padding-left: 20px;
  margin: 10px 0;
  list-style-type: disc;
}

.entry li {
  margin-bottom: 6px;
}

.entry .tech-stack {
  margin-top: 10px;
}

/* Skills Section */
.skills-list p {
  margin: 5px 0;
}

.skills-list strong {
  font-weight: bold;
}

p strong {
  font-weight: bold;
}
